*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233, 172, 42);
}
header{
    background: black;
    height: 100px;
}

footer{
    background-color: black;
   color: grey;
}
.copyright{
     text-align: center;
}
.logo img {
  height: 100px;
}
.navigation {
    display: flex;
}
li{ list-style: none;
    font-size: 24px;
    color: rgb(233, 172, 42);
    font-size: 30px;
    margin: auto;
}

a{ text-decoration: none;
    color: rgb(233, 172, 42);
    transition: 0.5s;
    border-radius: 10px;
}
div.homepage{
    display: flex;
    margin: 10%;
}
#info{
    height: 450px;
    background-color: black;
}
p{
    color: rgb(233, 172, 42);
    font-size: 30px;
    text-align: center;
margin: 10px;
}
h1{
 color: white;
 font-size: 45px;
 padding: auto;
 text-align:center;
 margin:15px;
}
a:hover{
    background-color: rgb(233, 172, 42);
    color: black;
    font-size:larger;
}
.default {
    background-color: rgb(233, 172, 42);
    color: black;
    font-size: larger;
}
.end{
    display: flex;
    
}
#h,#a,#c{
    color:grey;
    font-size: 18px;
}