*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233, 172, 42);
}
header{
    background: black;
    height: 100px;
}

.copyright{
     text-align: center;
}
.logo img {
  height: 100px;
}
.navigation {
    display: flex;
}
li{ list-style: none;
    font-size: 24px;
    color: rgb(233, 172, 42);
    font-size: 30px;
    margin: auto;
}
a{ text-decoration: none;
    color: rgb(233, 172, 42);
    transition: 0.5s;
    border-radius: 10px;
}
footer{ 
    background-color: black;
   color: grey;
}
.sampark{
    display: flex;
    margin: 10%;
}
img{
    height: 300px;
}
h2{
    font-size: 45px;
}
.address{
    width: 400px;
    margin: 20px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 24px;
}
a:hover{
    background-color: rgb(233, 172, 42);
    color: black;
    font-size:larger;
}
.default {
    background-color: rgb(233, 172, 42);
    color: black;
    font-size: larger;
}
.phonenumbers{
    display:flex;
    text-align: center;
}
.sunil,.anil{
    margin: auto;
    font-size: larger;
}
.end{
    display: flex;
    
}
#h,#a,#c{
    color:grey;
    font-size: 18px;
}